<div class="form">
	<div class="form-group">
		<select class="form-control" ng-model="selectedFaculty" ng-change="updateGroups()">
			<option ng-repeat="faculty in faculties" value="{{faculty.id}}">{{ faculty.title }}</option>
		</select>
	</div>

	<div class="form-group">
		<select class="form-control" ng-model="selectedDepartment" ng-change="updateGroups()">
			<option ng-repeat="department in departments" value="{{department.id}}">{{ department.title }}</option>
		</select>
	</div>

	<div class="form-group">
		<select class="form-control" ng-model="selectedCourse" ng-change="updateGroups()">
			<option ng-repeat="course in courses" value="{{course.id}}">{{ course.title }}</option>
		</select>
	</div>

	<div class="form-group">
		<select class="form-control" ng-model="selectedGroup" ng-disabled="groups.length == 0">
			<option ng-repeat="group in groups" value="{{group.id}}">{{ group.title }}</option>
		</select>
	</div>

	<!--<div class="form-group">
		<select class="form-control">
			<option value="" selected>Дата</option>
			<option ng-repeat="date in dates" value="{{date.id}}">{{ date.title }}</option>
		</select>
	</div>-->
	<input type="submit" class="btn btn-primary" value="Показать" ng-click="showSchedule()" ng-disabled="groups.length == 0 || selectedGroup == undefined">
</div>

<div ng-if="show == true">
	<div class="day" ng-repeat="day in schedule.days">
		<h2>{{ day.date }}</h2>
		<table class="table">
			<thead>
			<tr>
				<th>Время</th>
				<th>Предмет</th>
				<th>Преподаватель</th>
				<th>Информация</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="lesson in day.lessons">
			<td> {{ lesson.timeStart }}-{{ lesson.timeEnd }} </td>
			<td> {{ lesson.type }} {{ lesson.title }} </td>
			<td> {{ lesson.teacher.fullname }} </td>
			<td> {{ lesson.address }} </br>Кабинет: {{ lesson.room }} </td>
			</tr>
			</tbody>
		</table>
	</div>
</div>