<div class="container">
	<div class="form">
		<div class="form-group">
			<select class="form-control" ng-model="selectedFaculty" ng-change="updateGroups()">
				<option ng-repeat="faculty in faculties" value="{{faculty.id}}">{{ faculty.title }}</option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-control" ng-model="selectedDepartment" ng-change="updateGroups()">
				<option ng-repeat="department in departments" value="{{department.id}}">{{ department.title }}</option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-control" ng-model="selectedCource" ng-change="updateGroups()">
				<option ng-repeat="cource in cources" value="{{cource.id}}">{{ cource.title }}</option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-control" ng-model="selectedGroup">
				<option ng-repeat="group in groups" value="{{group.id}}">{{ group.title }}</option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-control">
				<option value="" selected>Дата</option>
				<option ng-repeat="date in dates" value="{{date.id}}">{{ date.title }}</option>
			</select>
		</div>
		<button ng-click="show(g)">Показать расписание</button>
	</div>
</div>