<h2>Преподаватели</h2>
<p>Список преподавателей ГрГУ им. Янки Купалы.</p>
<hr>
<div class="form-group pull-left">
  <input ng-model="searchFilter" type="text" class="form-control" id="search" placeholder="Поиск">
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        <a href="" ng-click="order('surname')">ФИО</a>
        <span class="caret" ng-show="predicate === 'surname'" ng-class="{reverse:reverse}"></span>
      </th>
      <th>Должность</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="teacher in teachers | orderBy:predicate:reverse" ng-show="([teacher] | filter:searchFilter).length > 0">
      <td>{{ teacher.surname }} {{ teacher.name }} {{ teacher.patronym }}</td>
      <td>{{ teacher.post }}</td>
      <td><a href="mailto:{{ teacher.email | lowercase }}">{{ teacher.email | lowercase }}</a> <span ng-if="teacher.email ==''" class="text-muted">Уточняйте</span></td>
    </tr>
  </tbody>
</table>